* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
    text-align: center !important;

    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    margin: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0 !important;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0;
}

.game-info {
    align-content: center;
    align-items: center;
    display: table;
    margin-left: 16rem;
}

.game-board {
    margin-left: 9rem;
    display: table;
}

.algorithm-select-label {
    font-size: large;
    font-weight: 600 !important;
    text-align: center;
}

.algorithm-select {
    width: 12em;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: rgb(100, 100, 100);
    -webkit-box-shadow: 3px 3px 2px 0 rgb(0, 157, 245);
    -moz-box-shadow: 3px 3px 2px 0 rgba(224, 54, 54, 1);
    box-shadow: 3px 3px 2px 0 rgba(224, 54, 54, 1);
    height: 2.5em;
    cursor: pointer;
}

.algorithm-select-option {
    font-weight: inherit;
}

.algorithm-select-disabled-option {
    font-weight: inherit;
    color: rgba(193, 193, 193, 0.76);
}

.game-window {
    margin-left: 7rem !important;
}

.board-row {
    display: flex;
}

.field {
    margin: 1px;
    width: 90px;
    height: 90px;
    border: 2px solid black;
    align-content: center;
}

.pawn-img {
    width: 45px;
    position: relative;
}

.pawn {
    transform: scale(1.5);
}

#turn {
    margin: 10px 0;
}

.hidden {
    display: none !important;
}

.btn-menu {
    width: 12em;
    height: 3em;
    font-weight: 600 !important;
    color: #ffffff;
    background-color: rgb(100, 100, 100);
    -webkit-box-shadow: 3px 3px 2px 0 rgb(0, 157, 245);
    -moz-box-shadow: 3px 3px 2px 0 rgba(224, 54, 54, 1);
    box-shadow: 3px 3px 2px 0 rgba(224, 54, 54, 1);
}
